.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.img {
    margin-right: 15px;
}

.img img {
    border-radius: 50%;
    width: 50px;
}
@media (max-width: 500px) {
    .img img{
        width: 75px;
    }
    .text{
        font-size: 35px !important;
    }
}

.text {
    color: white;
    font-family: Bahnschrift;
    line-height: 1px;
    font-size: 22px;
}

.substring {
    text-align: center;
}