
.info {
    margin-top: 0px;
    line-height: 1;
    font-family: Arial;
    font-size: 16px;
}
.contac {
    line-height: 1px;
    letter-spacing: 1.5px;
}
.formData {
    position: relative;
}
.inputStatus{
    width: 300px;
    font-size: 16px;
    padding: 5px;
}
.status {
    line-height: normal;
}
.fileInput {
    position: absolute;
    z-index: 100;
    width: 118px;
    top: 272px;
    left: 93px;
    transition: all 0.3s ease 0s;
    opacity: 50%;
}
.fileInput:hover {
    opacity: 100%;
}
.fileInput::-webkit-file-upload-button {
    visibility: hidden;
}
.fileInput::before {
    content: 'Change image';
    display: inline-block;
    background-color: #00cfff;
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 9pt;
}
.fileInput:hover::before {
    border-color: white;
}
.contacts{
    position: relative;
}
.editBtn {
    z-index: 100;
    top: -8px;
    left: 80px;
}
.profileDataForm {
    position: relative;
}
.saveBtn {
    width: 50px;
    top: -8px;
    left: 45px;
}
.formSummaryError {
    border: 1px solid red;
}